*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Spectral";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#siteName{

    width: 100%;

    margin: 0.5em;
    font-size: 3rem;
    
    text-align: center;
}